#soul {
  background-image: linear-gradient(
    to right,
    black,
    var(--darker-blue) 10%,
    black,
    var(--darker-blue)
  );
}

#botao-soul {
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
}

.card {
  background: var(--main-blue);
}

.main-box {
  min-height: fit-content;
}

.poster {
  max-height: 400px;
  object-fit: cover;
}

.movie-poster {
  min-height: 150px;
  max-height: 350px;
}

.carousel-item {
  height: 100%;
  object-fit: contain;
}

.carousel-item img {
  height: 100%;
}

@media (min-width: 992px) {
  .icon {
    transform: scale(1.2);
  }
}
