body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --darker-blue: #011126;
  --main-blue: #011c40;
  --lighter-blue: #2f66a1;
  --orange: #f29a2e;
}

header {
  background-color: var(--darker-blue);
}

.logo {
  /* font-family: "Rubik Mono One", sans-serif; */
  color: var(--orange);
  font-size: 28px;
  margin: 0;
}

main {
  background-color: var(--main-blue);
}

#box {
  background: linear-gradient(214.16deg, #0b0e1a 71.71%, #0c1d39 86.36%);
  box-shadow: 0px 2px 10px 6px rgba(91, 91, 91, 0.25);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

#btn {
  background: linear-gradient(
    92.02deg,
    #2f66a1 -3.86%,
    rgba(47, 102, 161, 0) 124%
  );
}

.main-background {
  background-color: var(--darker-blue);
}

.img-main {
  border-radius: 15px 15px 0 15px;
  width: auto;
  height: 550px;
}

.main-fs {
  font-size: 30px;
}

.description-fs {
  font-size: 12px;
  overflow-wrap: break-word;
  margin-top: 70px;
}

.btn-fs {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.style-card {
  width: 200px;
  height: 250px;
  background: linear-gradient(214.16deg, #0b0e1a 71.71%, #0c1d39 86.36%);
}

.card-position-img {
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.title-card {
  font-size: 15px;
}

.card-text {
  font-size: 10px;
}

footer {
  background: var(--darker-blue);
  color: var(--orange);
  height: 65px;
}

.footer-fs {
  font-size: 10px;
}

.border-15 {
  border-radius: 15px;
}

.input {
  background-color: var(--main-blue);
  border-color: white;
  color: white;
  font-size: 12px;
}

.form-control:active,
.form-control:focus {
  background-color: var(--main-blue);
  color: white;
  box-shadow: none;
  outline: none;
}

input::placeholder {
  color: gray;
}

input::selection {
  background-color: var(--orange);
}

@media (min-width: 576px) {
  .main-fs {
    font-size: 30px;
  }

  .description-fs {
    font-size: 15px;
  }

  .style-card {
    width: 280px;
    height: 350px;
  }

  .card-position-img {
    width: 180px;
    height: 180px;
  }

  .title-card {
    font-size: 20px;
  }

  .card-text {
    font-size: 15px;
  }

  .footer-fs {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .main-fs {
    font-size: 50px;
  }

  .description-fs {
    font-size: 20px;
  }

  .btn-fs {
    font-size: 15px;
  }

  #box {
    height: calc(70% - 40px);
  }
}

@media (min-width: 992px) {
  .btn-fs {
    font-size: 20px;
  }
  #box {
    height: calc(70% - 40px);
  }
}

@media (min-width: 1200px) {
  .description-fs {
    font-size: 25px;
  }

  .style-card {
    width: 340px;
    height: 400px;
  }

  .card-position-img {
    width: 200px;
    height: 200px;
  }

  .title-card {
    font-size: 25px;
  }

  .card-text {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .footer-fs {
    font-size: 20px;
  }
}
