.banner {
  max-height: 400px;
}

.relative {
  position: relative;
}

.main-description {
  position: absolute;
  bottom: 0;
}

.img-main {
  border-radius: 15px 15px 0 15px;
  height: 100%;
  width: 100%;
}

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 18px;
  margin-bottom: 20px;
}


#box {
  background: linear-gradient(214.16deg, #0b0e1a 71.71%, #0c1d39 86.36%);
  box-shadow: 0px 2px 10px 6px rgba(91, 91, 91, 0.25);
}

#btn {
  background: linear-gradient(92.02deg, #f29a2e -3.86%, #f29a2e 124%);
  border: none;
}

.card {
  background-color: #011126;
  max-width: 400px;
  max-height: 350px;
  box-shadow: 0px 2px 10px 6px rgba(91, 91, 91, 0.25);
}

.card-img{
  width: fit-content;
  max-width: 100%;
  max-height: 200px;
}
.card-description{
  font-size: 12px;
}

.card-title{
  font-size: 18px;
}

@media (min-width: 576px) {
  .img-main {
    width: auto;
  }

  .main-description {
    position: relative;
  }
}

@media (min-width: 768px) {
  .font-sm {
    font-size: 17px;
  }

  .font-md {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .card-description{
    font-size: 15px;
  }
  
  .card-title{
    font-size: 21px;
  }
  
}

@media (min-width: 992px) {
  .font-sm {
    font-size: 20px;
  }

  .font-md {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .card{
    width: 600px;
    height: 400px;
  }
}
/* 
.main-background {
  background-color: var(--darker-blue);
}



.main-fs {
  font-size: 30px;
}

.description-fs {
  font-size: 12px;
  overflow-wrap: break-word;
  margin-top: 70px;
}

.btn-fs {
  font-size: 12px;
}

.fs-12 {
  font-size: 12px;
}


.card-position-img {
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.title-card {
  font-size: 15px;
}

.card-text {
  font-size: 10px;
}

@media (max-width: 320px) {
  .img-main {
    width: auto;
    height: 400px;
  }

  #content-main {
    position: absolute;
    margin-top: 250px;
    padding-right: 35px;
  }
}

@media (max-width: 576px) {
  .img-main {
    width: auto;
    height: 450px;
  }
}

@media (min-width: 576px) {
  .main-fs {
    font-size: 30px;
  }

  .description-fs {
    font-size: 15px;
  }

  .style-card {
    width: 280px;
    height: 350px;
  }

  .card-position-img {
    width: 180px;
    height: 180px;
  }

  .title-card {
    font-size: 20px;
  }

  .card-text {
    font-size: 15px;
  }

  .footer-fs {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .main-fs {
    font-size: 50px;
  }

  .description-fs {
    font-size: 20px;
  }

  .btn-fs {
    font-size: 15px;
  }

  #box {
    height: calc(70% - 40px);
  }
}

@media (min-width: 992px) {
  .btn-fs {
    font-size: 20px;
  }
  #box {
    height: calc(70% - 40px);
  }
}

@media (min-width: 1200px) {
  .description-fs {
    font-size: 25px;
  }

  .style-card {
    width: 310px;
    height: 400px;
  }

  .card-position-img {
    width: 200px;
    height: 200px;
  }

  .title-card {
    font-size: 25px;
  }

  .card-text {
    font-size: 18px;
  }
}

